@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

.theme-dictionary {
  --bg-color: #fcfaf7;
  --border-color: #000;
  --text-main: #1a1a1a;
}

.theme-modern {
  --bg-color: #f8fafc;
  --border-color: #e2e8f0;
  --text-main: #0f172a;
}

.theme-manuscript {
  --bg-color: #f4ece1;
  --border-color: #8c7851;
  --text-main: #433422;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
